.task-input {
    height: 2rem;
    line-height: 2rem;
}

input.task-input {
    all: unset;
    font-size: 1rem;
    max-height: 2rem;
    line-height: 2rem;
}

input.task-input,
.task-input:hover {
    background-color: #ddd;
}

