.todo-group {
    border: 1px solid black;
    padding: 1rem;
}

.todo-group-header {
    padding: 0.1rem 1rem;
    user-select: none;
    font-size: 1.25rem;
    font-weight: bold;
    height: 2rem;
    line-height: 2rem;
    cursor: context-menu;
}

.todo-group-priority-btn-grid {
    display: block;
    width: 1.5rem;
}

.todo-group-priority-btn {
    display: block;
    width: 1.5rem;
    padding: 0;
}

