.calendar-view {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.btn-row {
    display: flex;
    margin: 0.5rem 5rem;
}

.change-week-btn {
    width: 3rem;
    margin-left: 0.5rem;
}

