@import '../../global';

.time-pointer {
    height: 0;
    border-width: 0;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: #d90429;
    position: absolute;
    z-index: calc($max-z-index - 4);
}

