.day {
    width: 100%;
}

.day-header-tab {
    display: flex;
    height: 2rem;

}

.day-header {
    font-size: 1rem;
    user-select: none;
    margin: auto 0;
}

.day-add-btn {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: auto 1rem;
}

$daily-task-height: 1.5rem;

.day-cells-grid {
    display: grid;
    grid-auto-rows: minmax(calc($daily-task-height + 0.7rem), auto);
}

.day-daily-task-tab {
    font-size: 1rem;
    outline: 0.1rem solid black;
    position: relative;
    grid-column: 1;
    user-select: none;
}

.day-daily-task {
    height: $daily-task-height;
    line-height: $daily-task-height;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 0.3rem;
    margin: 0.2rem 0.2rem;
    padding: 0 0.3rem;
    display: flex;
}

.day-daily-task-del-btn {
    display: block;
    float: right;
    font-size: 0.5rem;
    font-weight: bold;
    width: 1.2rem;
    height: 1.2rem;
    margin: auto 0 auto auto;
    text-align: top;
}

