@import '../../global';

.task-wnd {
    position: fixed;
    width: 45rem;
    height: 25rem;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    border: 5px solid black;
    background-color: white;
    z-index: calc($max-z-index - 1);
    display: block;
    font-size: 1rem;
}

.task-line-container {
    margin: 0.5rem;
    display: flex;
}

.task-extended-container{
    height: calc(100% - 14rem);
    margin: 0.5rem;
}

.task-line-container {
    height: 2rem;
    line-height: 2rem;
}

.task-action-btn {
    width: 4rem;
    height: 2rem;
    margin: 0 0.5rem;
}

.bckg-diffusion {
    z-index: calc($max-z-index - 2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.task-date {
    padding: 0 0.5rem;
}

.task-date:hover {
    background-color: #ddd;
}

