@import '../../global';

.category-row {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 4rem;
    line-height: 4rem;
}

.category-row-header {
    grid-column: 1;
    text-align: center;
}

.category-bckg-select {
    grid-column: 2;
    text-align: center;
}

.category-border-select {
    grid-column: 3;
    text-align: center;
}

.add-category-btn {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
}

